<h1>Home</h1>

<!--<div class="flip-card card mb-2" style="width: 18rem;">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img [src]="drink.strDrinkThumb" class="card-img-top" alt="...">
        </div>
        <div class="flip-card-back">
            <h3 class="card-title">{{drink.strDrink}}</h3>
            <p class="card-text">{{drink.strInstructions}}</p>
        </div>
    </div>
</div>-->



<ul class="d-flex flex-direction-row flex-wrap">
    <li *ngFor="let drink of drinks" class="mb-4">
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" [src]="drink.strDrinkThumb" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{drink.strDrink}}</h3>
                <p class="card-text">{{drink.strInstructionsIT}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Go somewhere</button>
            </div>
        </div>
    </li>
</ul>